html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {




	
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: bottom;
  }





body{
  color: #082B48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img{
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.7;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

.wrapper{
 background-color: #FFFF99;
}

.top{
  position: relative;
}
.main h1{
  border-bottom: 2px solid #333999;
  width: 50%;
}

.maintitle{
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.subtitle{
  position: absolute;
  top: 60%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.container-main{
  display: flex;

}

.main-menu{
  display: flex;
  margin-top: 20px;
}

.main{
  width: 70%;
padding: 0 10px;
margin-bottom: 30px;

}

.pic{
  width: 550px;
  margin-left: 20px;
}

.title{
  border-bottom: 3px solid #D7DD86;
  margin-bottom: 10px;
  margin-left: 20px;
}

.menu li{
margin-left: 30px;
}

.title h2{
  font-size: 25px;
  margin: 20px 0;
}

.side{
  width: 30%;
  margin-left: 30px;
}
.side h2{
  font-size: 30px;
  background-color: coral;
  display: inline-block;
  padding-right: 60px;
}


.container p{
  background: linear-gradient( #94B985 10%, #639C95 0%);
  position: relative;
  text-align: center;
  padding: 5% 0;
}




/*===================================
スマホ表示
=================================*/

@media only screen and (max-width: 767px){

 /*===================================
header
=================================*/ 


.maintitle{
  font-size: 23px;
  width: 350px;
  text-align: center;
}
.subtitle{
  font-size: 15px;
  width: 100%;
  text-align: center;
}

/*===================================
main
=================================*/ 

.container-main{
  display: block;
  width: 100%;
}
.main{
  margin: 0 auto;
  width: 90%;
}

.main-menu{
  display: block;
}


.title h2{
  text-align: center;
  width: 100%;
  font-size: 13px;
  padding-top: 20px;
}

.pic{
  width: auto;
}

/*===================================
side
=================================*/ 

.side{
  display: block;
  width: 100%;
  margin: 0 auto;
}
.side h2{
  display: block;
  text-align: center;
  padding-right: 0;
}


.side ul li{
  border: 1px solid black;
  padding:10px 0;
}

}
