html body{background-color: #f6e8;

}

a{
    text-decoration: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  header h1{
    font-size: 40px;
    position: absolute;
    top:15%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0%;
    padding:0;
    width: 550px;
    background-color: purple;
    color: white;
    text-align: center;
 }
header p{
  font-size: 25px;
  position: absolute;
  bottom:75%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0%;
  padding:0;
  width: 550px;
  color: rgb(51, 51, 51);
  text-align: center;
  background-color: blue;

}
.container{
    display: flex;
}
.main{
    background: pink;
    width: 70%;
    margin-top: -4px;
}
.main_img{
    display: flex;
    padding-left: 20px;
}

.main h2{
  color: #A7C6C4;
  font-size: 20px;
  border-bottom: 2px solid #D9DC83;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  margin-left: 20px;
}
.main ul li{
  padding-left: 20px;
  padding-bottom: 5px;
}
.side{
    background: violet;
    margin-top: -4px;
    width: 30%;
}
.bar1{
  padding-top: 30px;
}

.bar1 h2{
  background-color: #f49b7b;
  width: 50%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.bar1 li{
  padding-bottom: 10px;
}

.footer{
  background-color: thistle;
  height: 100px;
  
}
.footer p{
  font-size: 18px;
  text-align:center;
  line-height: 100px;
  
  
  
 
  
  background-color: teal;
  }

@media (max-width: 600px){
    .container {
      flex-direction: column;
      
    }
    .main,.side {
      width: 100%;
    }
  }