body{
  color: #082B48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img{
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.7;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

.wrapper{
 background-color: #FFFF99;
}

.top{
  position: relative;
}
.main h1{
  border-bottom: 2px solid #333999;
  width: 50%;
}

.maintitle{
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 50px;
  font-weight: bold;
}

.subtitle{
  position: absolute;
  top: 60%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 25px;
}

.container-main{
  display: flex;

}

.main-menu{
  display: flex;
}

.main{
  width: 70%;
padding: 0 10px;  
}

.title{
  border-bottom: 3px solid #333999;
  margin-bottom: 10px;
}

.side{
  width: 30%;
}
.side h2{
  font-size: 30px;
  background-color: coral;
}
.side ul li a{
  display: block;
}

.container p{
  background-color: rgb(15, 243, 213);
  text-align: center;
  padding: 5% 0;
}
